.main_navigation
- if params[:controller] != 'stats'
  = link_to("Stats", stats_path)
- if params[:controller] != 'pages'
  = link_to("Quiz me", root_path)
- if params[:action] != 'unfinished'
  = link_to("Unfinished Quizes", unfinished_path)
= link_to("Logout", destroy_user_session_path, :method => :delete)
